@font-face {
    font-family: 'Roboto';
    src: 
        local('Roboto'),
        url('/fonts/Roboto/Roboto-Regular.ttf')
        format('truetype');
}

@font-face {
    font-family: 'Roboto Mono';
    src: 
        local('Roboto Mono'),
        local('Roboto-Mono'),
        url('/fonts/Roboto_Mono/RobotoMono-Regular.ttf')
        format('truetype');
}

@font-face {
    font-family: 'Roboto Slab';
    src: 
        local('Roboto Slab'),
        local('Roboto-Slab'),
        url('/fonts/Roboto_Slab/RobotoSlab-Regular.ttf')
        format('truetype');
}