<div class="row" *ngIf="(category$ | async) as category">
  <div class="col-12">
    <h3>
      {{ (category?.classificationId | classification | async)?.name }} - Round {{(roundId$ | async) + 1}} - Match {{id + 1}}
    </h3>
  </div>
  <div class="col-lg-4">
    <div>
      <button class="btn btn-outline-success float-left mr-2 mb-2" (click)="nextMatch()">
        <i class="fas fa-forward mr-2"></i>Next Match
      </button>
      <button type="button" class="btn mr-2 mb-2 {{readyColor}}" (click)="readyToggle()">
        <i class="fas fa-check mr-2"></i>Ready to Start
      </button>
      <button class="btn btn-outline-success mr-2 mb-2" (click)="startMatch()">
        <i class="fas fa-flag-checkered mr-2"></i>Start Match
      </button>
      <button class="btn btn-outline-danger mr-2 mb-2" (click)="stopMatch()">
        <i class="fas fa-hand-paper mr-2"></i>Stop Match
      </button>
      <button class="btn btn-danger mr-2 mb-2" (click)="delete()">
        <i class="fas fa-trash-alt mr-2"></i>Delete Match
      </button>
    </div>
  </div>
  <div class="col-lg-4">
    <h5>MOCs</h5>
      <app-moc-list [mocIds]="mocIds$" [standings]="null" [results]="results$"></app-moc-list>
    </div>
</div>