<form *ngIf="(device$ | async | log) as device">
  <div class="form-group row">
    <label for="devicetype" class="col-4 col-form-label">Device Type</label>
    <div class="col-8">
      <select type="text" id="devicetype" class="form-control" 
        [(ngModel)]="device.deviceType" name="devicetype"
        (ngModelChange)="changeDeviceType($event)">
        <option></option>
        <ng-container *ngFor="let deviceOption of (deviceOptions$ | async)">
          <option value="{{ deviceOption.deviceType }}">{{ deviceOption.deviceType }}</option>
        </ng-container>
      </select>
    </div>
  </div>
  <div class="form-group row">
    <label for="deviceRole" class="col-4 col-form-label">Device Role</label>
    <div class="col-8">
      <select class="form-control" name="deviceRole" id="deviceRole" [(ngModel)]="device.role">
        <option value=0>None</option>
        <option value=1>Status Provider</option>
        <option value=2>Status Follower</option>
        <option value=4>Score Provider</option>
        <option value=3>Start Button</option>
        <option value=6>Timer</option>
        <option value=7>All</option>
      </select>
    </div>
  </div>
  <div class="form-group row">
    <label for="connectionString" class="col-4 col-form-label">Connection String</label>
    <div class="col-8">
      <input type="text" id="connectionString" class="form-control" 
        [(ngModel)]="device.connectionString" name="connectionString">
      <small class="text-muted">i.e. "COM3", "USB", "/dev/rfcomm0", "Mock"</small>
    </div>
  </div>
  <div class="form-group row">
    <label for="program" class="col-4 col-form-label">Program</label>
    <div class="col-8 col-sm-5">
      <input type="text" id="program" class="form-control"  
        [(ngModel)]="device.program" name="program">
    </div>
    <div class="col-sm-1">&nbsp;</div>
    <div class="col-sm-2">
      <button type="submit" class="btn btn-primary" (click)="save(device)">Save</button>
    </div>
  </div>
</form>