<form *ngIf="(device$ | async | log) as device">
  <div class="form-group row">
    <label for="devicetype" class="col-4 col-form-label">Device Type</label>
    <div class="col-8">
      <select type="text" id="devicetype" class="form-control" 
        [(ngModel)]="device.deviceType" name="devicetype"
        (ngModelChange)="changeDeviceType($event)"
        *ngIf="isNew" >
        <ng-container *ngFor="let deviceOption of (deviceOptions$ | async)">
          <option value="{{ deviceOption.deviceType }}">{{ deviceOption.deviceType }}</option>
        </ng-container>
      </select>
      <ng-container *ngIf="!isNew">
        <span>{{ device.deviceType }}</span>
        <span *ngIf="device.device" class="float-right" style="margin: 2px;">
          <i class="{{ device.device.batteryLevel | battery }}"></i>
        </span>
      </ng-container>
    </div>
  </div>
  <div class="form-group row">
    <label for="connectionString" class="col-4 col-form-label">Connection</label>
    <div class="col-8">
      <select type="text" id="connectionString" class="form-control" 
        [(ngModel)]="device.connectionString" name="connectionString"
        (ngModelChange)="changeConnectionString($event)"
        [disabled]="!device.deviceType" *ngIf="isNew">
        <ng-container *ngFor="let connection of (connectionStrings$ | async)">
          <option value="{{ connection }}">{{ connection }}</option>
        </ng-container>
      </select>
      <ng-container *ngIf="!isNew">
        <span>{{ device.connectionString }}</span>
        <span class="float-right badge badge-success" *ngIf="device.device && device.device.connected">Connected</span>
        <span class="float-right badge badge-danger" *ngIf="!device.device || !device.device.connected">Disconnected</span>
      </ng-container>
    </div>
  </div>
  <div class="form-group row">
    <label for="deviceRole" class="col-4 col-form-label">Role</label>
    <div class="col-8">
      <select class="form-control" name="deviceRole" id="deviceRole"
        [(ngModel)]="device.role" [disabled]="!device.deviceType || !device.connectionString">
        <option value=0>None</option>
        <option value=1>Status Provider</option>
        <option value=2>Status Follower</option>
        <option value=4>Score Provider</option>
        <option value=3>Start Button</option>
        <option value=6>Timer</option>
        <option value=7>All</option>
      </select>
    </div>
  </div>
  <div class="form-group row">
    <label for="program" class="col-4 col-form-label">Program</label>
    <div class="col-8 col-sm-5">
      <select type="text" id="program" class="form-control" 
        [(ngModel)]="device.program" name="program"
        (ngModelChange)="changeProgram($event)"
        [disabled]="!device.connectionString || !device.programs">
        <ng-container *ngFor="let program of device.programs">
          <option value="{{ program }}">{{ program }}</option>
        </ng-container>
      </select>
    </div>
    <div class="col-sm-1">&nbsp;</div>
    <div class="col-sm-2">
      <button type="submit" class="btn btn-primary" (click)="save(device)">Save</button>
    </div>
  </div>
</form>