<div class="row">
  <div class="col-lg-4">
    <form *ngIf="(tournament$ | async) as tournament">
      <div class="form-group row">
        <label for="tournamentName" class="col-4 col-form-label">Tournament Name</label>
        <div class="col-8">
          <input type="text" id="tournamentName" class="form-control" 
            [(ngModel)]="tournament.name" name="tournamentName">
        </div>
      </div>
      <div class="form-group row">
        <label for="tournamentType" class="col-4 col-form-label">Tournament Type</label>
        <div class="col-8">
          <select class="form-control" id="tournamentType" 
            [(ngModel)]="tournament.tournamentType"  name="tournamentType">
            <option value="Derby">Derby</option>
            <option value="Round Robin">Round Robin</option>
            <option value="Single Elimination">Single Elimination</option>
            <option value="Swiss System">Swiss System</option>
          </select>
        </div>
      </div>
      <div class="form-group row">
        <label for="tournamentId" class="col-4 col-form-label">ID</label>
        <div class="col-4">
          <input type="text" id="tournamentId" class="form-control" readonly  
            [(ngModel)]="tournament._id" name="tournamentId">
        </div>
        <div class="col-sm-2">&nbsp;</div>
        <div class="col-sm-2">
          <button type="submit" class="btn btn-primary" (click)="save(tournament)">Save</button>
        </div>
      </div>
    </form>
  </div>
  <div class="col-lg-4">
      <app-category-list *ngIf="!isNew"></app-category-list>
  </div>
  <div class="col-lg-4">
      <app-moc-list *ngIf="!isNew && id" [mocIds]="mocIds$" [editable]="true" [results]="null"></app-moc-list>
    </div>
</div>
