<div class="d-flex mb-2">
    <a class="btn btn-outline-success btn-sm float-left" routerLink="" (click)="add()">
      <i class="fas fa-plus"></i> Add Classification
    </a>
  </div>
  <div *ngIf="(classifications$ | async) as classifications" class="list-group">
    <ng-container *ngFor="let classification of classifications">
      <a class="list-group-item list-group-item-action" routerLink="/admin/classification/{{classification._id}}">
        <div class="d-flex w-100 justify-content-between">
          <h5 class="mb-1">{{ classification.name }}</h5>
        </div>
      </a>
    </ng-container>
  </div>
