<div class="list-group">
  <a class="list-group-item list-group-item-action" routerLink="/admin/tournament">
    <div class="d-flex w-100 justify-content-between">
      <h5 class="mb-1">Tournaments</h5>
      <small>{{tournamentCount}}</small>
    </div>
    <small>Run a tournament</small>
  </a>
  <a class="list-group-item list-group-item-action" routerLink="/admin/competitor">
    <div class="d-flex w-100 justify-content-between">
      <h5 class="mb-1">Competitors</h5>
      <small>{{competitorCount}}</small>
    </div>
    <small>Add competitors</small>
  </a>
  <a class="list-group-item list-group-item-action" routerLink="/admin/moc">
    <div class="d-flex w-100 justify-content-between">
      <h5 class="mb-1">MOCs</h5>
      <small>{{mocCount}}</small>
    </div>
    <small>Add MOCs</small>
  </a>
  <a class="list-group-item list-group-item-action" routerLink="/admin/classification">
    <div class="d-flex w-100 justify-content-between">
      <h5 class="mb-1">Classifications</h5>
      <small>{{classificationCount}}</small>
    </div>
    <small>Edit available classifications</small>
  </a>
  <a class="list-group-item list-group-item-action" routerLink="/admin/device">
    <div class="d-flex w-100 justify-content-between">
      <h5 class="mb-1">Devices</h5>
      <small>{{deviceCount}}</small>
    </div>
    <small>Connect scoring devices</small>
  </a>
</div>