a.navbar-brand {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

html {
  font-size: 14px;
}
@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.box-shadow {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

.navbar-light {
  background-color:#6cc04a!important;
}

.logo {
  position: absolute;
  margin-top:-5px;
}

.logo-name {
  padding-left: 60px;
}

i.fa-font-awesome { color: rgb(34, 139, 230); }
i.fa-angular { color: #f44336; }
i.fa-bootstrap { color: #563d7c; }
i.fa-css3 { color: #2965f1; }
i.fa-html5 { color: #e44d26; }
i.fa-raspberry-pi { color: black; }
