<div class="row" *ngIf="(category$ | async) as category">
  <div class="col-12">
    <h5>
      {{ (category?.classificationId | classification | async)?.name }} - Round {{(id$ | async) + 1}}
    </h5>
  </div>
  <div class="col-md-6">
    <div class="card mb-2">
      <div class="d-flex card-header justify-content-between">
        <h5>Matches</h5>
        <button class="btn btn-success btn-sm float-left" (click)="nextMatch()">
          <i class="fas fa-forward"></i> Next
        </button>
      </div>
      <ng-container *ngIf="(round$ | async) as round">
        <div class="list-group list-group-flush">
          <ng-container *ngFor="let match of round.matches; index as index">
            <a class="list-group-item list-group-item-action" routerLink="../matches/{{index}}">
              <span>Match {{index + 1}}</span>
            </a>
          </ng-container>
        </div>
      </ng-container>
    </div>
  </div>
  <div class="col-md-6">
    <app-moc-list [mocIds]="mocIds$" [editable]="false" [standings]="standings$" [results]="null"></app-moc-list>
  </div>
</div>