<div class="row" *ngIf="(category$ | async) as category">
  <div class="col-12">
    <h5>
      {{ (category?.classificationId | classification | async)?.name }} Category
    </h5>
  </div>
  <div class="col-md-6">
    <div class="d-flex mb-2">
      <button class="btn btn-outline-success btn-sm float-left" (click)="nextMatch()">
        <i class="fas fa-forward"></i> Next Match
      </button>
    </div>
    <div class="list-group mb-2" *ngFor="let round of category.rounds; index as index">
      <a class="list-group-item list-group-item-action" routerLink="../rounds/{{index}}">
        <span>Round {{index + 1}}</span>
      </a>
    </div>
  </div>
  <div class="col-md-6">
    <h5>MOCs</h5>
      <app-moc-list [mocIds]="mocIds$" [editable]="false" [standings]="standings$"></app-moc-list>
    </div>
</div>