<div class="card mb-3">
  <div class="d-flex card-header justify-content-between">
    <h5>Classifications</h5>
    <a class="btn btn-success btn-sm" routerLink="" (click)="add()">
      <i class="fas fa-plus"></i>
    </a>
  </div>
  <div *ngIf="(classifications$ | async) as classifications" class="list-group list-group-flush">
    <div class="list-group-item" *ngFor="let classification of classifications">
      <div class="w-100">
        <button class="btn btn-success btn-sm mr-2 float-left" routerLink="/admin/classifications/{{classification._id}}">
          <i class="fas fa-arrow-right"></i>
        </button>
        <button class="btn btn-danger btn-sm float-right" (click)="delete(classification._id)">
          <i class="far fa-trash-alt"></i>
        </button>
        <h5 class="mb-1">{{ classification.name }}</h5>
      </div>
    </div>
  </div>
</div>
