<div class="d-flex mb-2">
  <h4>Tournaments</h4>
</div>
<div class="d-flex mb-2">
  <a class="btn btn-outline-success btn-sm float-left" routerLink="/admin/tournaments/new">
    <i class="fas fa-plus"></i> Add new tournament
  </a>
</div>
<div *ngIf="(summaries$ | async) as summaries">
  <div *ngFor="let tournament of summaries" class="input-group input-group-sm mb-1">
    <div class="input-group-prepend">
      <button class="btn btn-success" routerLink="/admin/tournaments/{{tournament._id}}">
        <i class="fas fa-arrow-right"></i>
      </button>
    </div>
    <span class="form-control" routerLink="/admin/tournaments/{{tournament._id}}">{{ tournament.name }}</span>
    <div class="input-group-append">
      <button class="btn btn-primary">{{ tournament.tournamentType }}</button>
      <button class="btn btn-danger" (click)="delete(tournament._id)">
        <i class="far fa-trash-alt"></i>
      </button>
    </div>
  </div>
</div>