<div class="card mb-3">
  <div class="d-flex card-header justify-content-between">
    <h5>Tournaments</h5>
    <a class="btn btn-success btn-sm" routerLink="/admin/tournaments/new">
      <i class="fas fa-plus"></i>
    </a>
  </div>
  <div *ngIf="(summaries$ | async) as summaries" class="list-group list-group-flush">
    <div *ngFor="let tournament of summaries" class="list-group-item">
      <div class="w-100">
        <button class="btn btn-success btn-sm mr-2 float-left" routerLink="/admin/tournaments/{{tournament._id}}">
          <i class="fas fa-arrow-right"></i>
        </button>
        <button class="btn btn-danger btn-sm float-right" (click)="delete(tournament._id)">
          <i class="far fa-trash-alt"></i>
        </button>
        <h5>{{ tournament.name }}</h5>
      </div>
      <div class="w-100">
        <span class="badge badge-primary">{{ tournament.tournamentType }}</span>
      </div>
    </div>
  </div>
</div>