<div class="d-flex mb-2">
  <a class="btn btn-outline-success btn-sm float-left" routerLink="/admin/tournament/new">
    <i class="fas fa-plus"></i> Add new tournament
  </a>
</div>
<div *ngIf="(summaries$ | async) as summaries" class="list-group">
  <ng-container *ngFor="let tournament of summaries">
    <a class="list-group-item list-group-item-action" routerLink="/admin/tournament/{{tournament._id}}">
      <div class="d-flex w-100 justify-content-between">
        <h5 class="mb-1">{{ tournament.name }}</h5>
        <small>{{ tournament._id }}</small>
      </div>
      <small class="badge badge-primary text-capitalize">
        {{ tournament.tournamentType }}
      </small>
      <a class="btn btn-danger btn-sm float-right" (click)="delete(tournament._id)" routerLink="/admin/tournament">
        <i class="far fa-trash-alt"></i>
      </a>
    </a>
  </ng-container>
</div>