<div class="d-flex mb-2">
  <button class="btn btn-outline-success btn-sm float-left" (click)="add()">
    <i class="fas fa-plus"></i> Add Competitor
  </button>
</div>
<div class="input-group mb-2">
  <div class="custom-file">
    <input type="file" class="custom-file-input" id="importFile"
      accept=".csv, .txt" (change)="changeImportFile($event)">
    <label class="custom-file-label" for="importFile">{{ import?.name || "Choose Import CSV" }}</label>
  </div>
  <div class="input-group-append">
    <button class="btn btn-outline-success" (click)="uploadImport()">Upload</button>
  </div>
</div>
<div *ngIf="(competitors$ | async) as competitors" class="list-group">
  <ng-container *ngFor="let competitor of competitors">
    <a class="list-group-item list-group-item-action" routerLink="/admin/competitors/{{competitor._id}}">
      <div class="d-flex w-100 justify-content-between">
        <h5 class="mb-1">{{ competitor.name }}</h5>
        <button class="btn btn-danger btn-sm float-right" (click)="delete(competitor._id)">
          <i class="far fa-trash-alt"></i>
        </button>
      </div>
    </a>
  </ng-container>
</div>
