<div class="d-flex mb-2">
  <a class="btn btn-outline-success btn-sm float-left" routerLink="" (click)="add()">
    <i class="fas fa-plus"></i> Add Competitor
  </a>
</div>
<div *ngIf="(competitors$ | async) as competitors" class="list-group">
  <ng-container *ngFor="let competitor of competitors">
    <a class="list-group-item list-group-item-action" routerLink="/admin/competitor/{{competitor._id}}">
      <div class="d-flex w-100 justify-content-between">
        <h5 class="mb-1">{{ competitor.name }}</h5>
        <a class="btn btn-danger btn-sm float-right" (click)="delete(competitor._id)" routerLink="/admin/competitor">
          <i class="far fa-trash-alt"></i>
        </a>
      </div>
    </a>
  </ng-container>
</div>
