<div class="row" *ngIf="(category$ | async) as category">
  <div class="col-12">
    <h4>
      {{ (category?.classificationId | classification | async)?.name }} - Round {{(roundId$ | async) + 1}} - Match {{id + 1}}
    </h4>
  </div>
  <div class="col-md-6">
    <div class="btn-group mb-3">
      <button class="btn btn-success float-left" (click)="nextMatch()">
        <i class="fas fa-forward mr-1"></i>Next
      </button>
      <button type="button" class="btn {{readyColor}}" (click)="readyToggle()">
        <i class="fas fa-check mr-1"></i>Ready
      </button>
      <button class="btn btn-success" (click)="startMatch()">
        <i class="fas fa-flag-checkered mr-1"></i>Start
      </button>
      <button class="btn btn-outline-danger" (click)="stopMatch()">
        <i class="fas fa-hand-paper mr-1"></i>Stop
      </button>
      <button class="btn btn-danger" (click)="delete()">
        <i class="fas fa-trash-alt"></i>
      </button>
    </div>
  </div>
  <div class="col-md-6">
    <app-moc-list [mocIds]="mocIds$" [standings]="null" [results]="results$"></app-moc-list>
  </div>
</div>